@model IEnumerable<DgBooksDB.Libro>

@{
    ViewBag.Title = "PantallaFavoritos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <section class="main-container">
        <div class="location" id="home">
            <h2 class="titulo-seccion">Mis favoritos</h2>
            <div class="box">

                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <a href="@Url.Action("EliminarFavorito","Libros", new { idLibro = item.intIdLibor })" class="link-action-icon">
                                <i class="fas fa-heart-broken boton btn-action-icon"></i>
                            </a>

                            <input type="text" name="intIdLibor" value="@Html.DisplayFor(modelItem => item.intIdLibor)" style="display:none" />

                            <button type="submit" ID="btnAceptar" class="buttons btnCardLibro" name="btnIs" value="Iniciar Sesión" onclick="btnAgregar_Click">
                                <img src="@Html.DisplayFor(modelItem => item.strLinkImagenLibro)"
                                     width="210" height="300" alt="Galeria CSS 1" />
                                <div>
                                    <h3 class="titulo-libro">@Html.DisplayFor(modelItem => item.NombreLibro)</h3>
                                </div>
                            </button>

                        }
                    }
                }
            </div>
        </div>
    </section>
</div>


@*@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreLibro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strLinkImagenLibro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strLinkLibro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strSinopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor.strLinkFoto)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreLibro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strLinkImagenLibro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strLinkLibro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strSinopsis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extencion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strLinkImagenLibro)

                </td>
                <td>
                    @Html.ActionLink("Eliminar", "EliminarFaborito")
                </td>
            </tr>
        }
    </table>
}*@


