@model DgBooks.Models.UserLog

@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="../css/LogIn.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body background="../Images/FOL.jpg">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="login-box">
            <img src="../Images/Lib.png" class="avatar" alt="Avatar Image" />
            <h1>Iniciar Sesión</h1>
            <form>

                <!-- nombre de usuario -->
                <label for="username">Usuario</label>
                @Html.EditorFor(model => model.strUser_Email, new { htmlAttributes = new { @class = "controls", @type = "text", @placeholder = "Ingresa tu Usuario o Correo" } })
                @Html.ValidationMessageFor(model => model.strUser_Email, "", new { @class = "text-danger" })
                <!-- contraseña-->
                <label for="password">Contraseña</label>
                @Html.EditorFor(model => model.strPassword, new { htmlAttributes = new { @class = "controls", @type = "password", @placeholder = "Ingresa tu Contraseña" } })
                @Html.ValidationMessageFor(model => model.strPassword, "", new { @class = "text-danger" })

                <input type="submit" ID="btnAceptar" class="buttons" name="btnIs" value="Iniciar Sesión" onclick="btnAgregar_Click" />
            </form>
            <a>@Html.ActionLink("¿No tienes una cuenta? Registrate ahora", "Registrar", "Usuario")</a>
            <a><label>@ViewBag.sms</label></a>
        </div>
    }

</body>

</html>